<template>
  <main class="form-signin">
    <div v-if="data.cls" :class="`alert alert-${data.cls}`" role="alert">
      {{ data.message }}
    </div>
    <form @submit.prevent="submit">
      <h1 class="h3 mb-3 fw-normal text-center">Please enter your email</h1>
      <div class="form-floating">
        <input
          v-model="data.email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
        Submit
      </button>
    </form>
  </main>
</template>

<script>
import {reactive} from 'vue'
import axios from 'axios'
import {useRouter} from 'vue-router'

export default {
  name: 'Forgot',
  setup() {
    const data = reactive({
      email: '',
      cls: '',
      message: '',
    })
    const router = useRouter()

    const submit = async () => {
      try {
        await axios.post('forgot/', data)
        data.cls = 'success'
        data.message = `Email was sent on ${data.email}`
      } catch (e) {
        data.cls = 'danger'
        data.message = 'Email does not exist'
      }
    }
    return {
      data,
      submit,
    }
  },
}
</script>
