<template>
  <div class="container mt-5 text-center">
    <h3>{{ auth ? message : 'You are  not logged in' }}</h3>
  </div>
</template>

<script>
import {computed, onMounted, ref} from 'vue'
import axios from 'axios'
import {useStore} from 'vuex'

export default {
  name: 'Home',
  setup() {
    const message = ref('You are  not logged in')
    const store = useStore()
    const auth = computed(() => store.state.auth)

    onMounted(async () => {
      try {
        const {data} = await axios.get('user/')
        message.value = `Hi ${data.first_name} ${data.last_name}`
        await store.dispatch('setAuth', true)
      } catch (e) {
        await store.dispatch('setAuth', false)
      }
    })

    return {
      message,
      auth,
    }
  },
}
</script>
<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
